
<div class="row">
  <div class="col-md-4">
  	
  </div>
  <div class="col-md-4">
  	<h1>Registrar Ciudad</h1>
	<form action="" method="post">
		<div class="form-group">
			<label>Ciudad:</label>
			<input type="text" name="ciudad" class="form-control" placeholder="Ciudad">
		</div>
		<input type="hidden" name="registro" value="1">
		<input type="submit" value="Registrar" class="btn btn-default">
	</form> 	
  </div>
  <div class="col-md-4">
  	
  </div>
</div>