<!DOCTYPE html>
<html>
  <head>
    <title>Shymow</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker.standalone.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-datepicker3.standalone.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <% if(req.session.authenticated){%>
     <a href="/user/logout">Logout</a>
    <%}%>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/js/bootstrap-datepicker.js"></script>
    <script src="/js/js/datepicket_lang.js"></script>
    <script src="/js/js/user_create.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ar.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.az.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.bg.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.bs.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ca.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.cs.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.cy.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.da.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.de.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.el.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.eo.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.et.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.eu.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fa.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fi.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fo.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fr-CH.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.gl.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.he.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.hr.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.hu.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.hy.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.id.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.is.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.it-CH.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.it.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ja.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ka.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.kh.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.kk.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ko.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.kr.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.lt.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.lv.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.me.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.mk.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.mn.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ms.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.nb.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.nl-BE.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.nl.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.no.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.pl.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.pt.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ro.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.rs-latin.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.rs.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sk.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sl.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sq.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sr-latin.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sr.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sv.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.sw.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.th.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.uk.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.zh-TW.min.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">

    $(document).ready(function(){
        $(".check_celebridad").click(function(){
           
            if ($(".check_celebridad").val() == "true" ) {
                $("#texto_celebridad").css("display","block");
            }
            if($(".check_celebridad").val() == "false"){
                $("#texto_celebridad").css("display","none");
            }
        })
    })
</script>

  </body>
</html>
