<div class="panel panel-default">
  <div class="panel-body">
	<h1>Lista de Usuarios</h1>
	<a href="/user/create">Nuevo Usuario</a>
	<table class="table">
		<thead>
			<th>E-mail</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Edad</th>
			<th>Fecha de nacimiento</th>
			<th>Género</th>
		</thead>
	</table>
  </div>
</div>